final/final.Rproj
final/.Rproj.user/7E69EC4C/sources/prop/64F3008C
final/.Rproj.user/7E69EC4C/sources/prop/INDEX
final/.Rproj.user/7E69EC4C/sources/s-C5C58161/320F8B64
final/.Rproj.user/7E69EC4C/sources/s-C5C58161/320F8B64-contents
final/.Rproj.user/7E69EC4C/sources/s-C5C58161/lock_file
final/.Rproj.user/shared/notebooks/patch-chunk-names
final/.Rproj.user/shared/notebooks/paths
final/.Rproj.user/shared/notebooks/381D62E5-project code/1/s/chunks.json
final/.Rproj.user/shared/notebooks/381D62E5-project code/1/s/csetup_chunk/000006.csv
